################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Block4_SMSOTP/Block4_SMSOTP/bin
