
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form method="POST" action="/Home/Login">
            <label>Username</label>
            <input type="text" name="Username" placeholder="Username"/>
            <label>Password</label>
            <input type="password" name="Password" placeholder="Password"/>
            <label>Stay logged in</label>
            <input type="checkbox" name="stayLoggedIn"/>
            <input type="submit" name="submit" value="Login"/>
        </form>
    </div>
</body>
</html>
